@use "../../styles/partials//mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles//partials/colors" as *;
@use "../../styles/partials/paddings" as *;

.workPage {
    color:white;

    &-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin:8rem 0 0 0;
    
        &-title {
            font-family: "Oleo Script", system-ui;
            color:rgb(135, 217, 190);
            font-size: 120px;
            font-weight: 800;
            margin:0;
        }
    }

    &-projectsContainer {
        display:flex;
        justify-content: center;
        align-items: center;
        gap:2rem;
        margin: 3rem 0 0 0;

        &-section {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3rem;

            &-project, &-projectLarge {
                display:flex;
                justify-content: space-between;
                align-items: center;
                color:white;
                width:420px;
                height:150px;
                background-color: rgba(251, 251, 251, 0.049);
                padding:1rem 3rem;
                border-radius: 10px;
                border: 0.2px solid rgba(255, 255, 255, 0.177);
                line-height: 1.8rem;
                transition: transform 500ms;

                &:hover {
                    cursor: pointer;
                    transform: translate(0,-3%);
                }

                &-info {
                    width: 360px;

                    &-title {
                        font-size: 24px;
                        color:rgb(135, 217, 190);
                        font-weight: 6g00;
                    }
                }

                &-image {
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    height: 90px;
                    width: 100px;
                    border-radius: 50%;
                    background-color: rgb(55, 55, 55);
                    border: 0.2px solid rgba(255, 255, 255, 0.212);
                }

                & img {
                    width: 100%;
                }
            }


            &-projectLarge {
                flex-direction: column;
                height:380px;
                padding:1rem 3rem;
                overflow: hidden;

                & img {
                    width: 70%;
                }
            }
        }
    }
}

#large {
    height: 380px;
}
