.navbar {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    & p {
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        width: 100px;
        height: 40px;
        border-radius: 50px;
        transition: 200ms;

        &:hover {
            cursor:pointer;
            background-color: rgba(255, 255, 255, 0.093);
        }
    }
}